body {
    box-sizing: border-box;
    background-image: url("../img/fabric.jpg");
    background-repeat: repeat;
    background-position: auto;
    background-size: cover;
}

h1 {
    background-color: #89c7f0;
    font-family: 'Federo', sans-serif;
    padding: 8px;
    margin-top: 8px;
    font-size: 24px;
}

.buttonLabels {
    margin-top: 6px;
    font-family: 'Federo', sans-serif;
    background-color: #89c7f0;
    font-size: 24px;
}

#stressview {
    margin-top: 16px;
    margin-bottom: 16px;
}

#logo {
    margin-top: 16px;
    margin-bottom: 16px;
}

#myCarousel {
    margin-top: 16px;
    margin-bottom: 16px;
}

.myImage {
    width: auto;
    max-height: 400px;
}

#googleMap {
    border-style: solid;
    border-color: #89c7f0;
    margin-top: 16px;
    margin-bottom: 16px;
    height: 400px;
}

#viewSpace {
    overflow: auto;
    border-style: solid;
    border-color: #89c7f0;
    margin-top: 16px;
    margin-bottom: 16px;
    height: 400px;
    background-color: #373536;
}

h2 {
    font-family: 'Federo', sans-serif;
    color: #89c7f0;
    text-align: center;
}

h4 {
    font-family: 'Federo', sans-serif;
    color: beige;
    text-align: center;
}

h5 span {
    background-color: #89c7f0;
    padding-left: 7px;
    padding-right: 7px;
}

p {
    font-family: 'Federo', sans-serif;
    text-align: center;
    color: beige;
    font-size: 24px;
    margin-top: 20px;    
}

footer {
    font-family: 'Federo', sans-serif;
    color: bisque;
    text-align: center;
    background-color: #89c7f0;
    border-top: 4px solid #146da8;
    margin-bottom: 8px;
	padding: 8px;
}
