html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }
 
 body {
    margin: 0px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
 }

#colColor {
    background-image: url("../img/seamlessbrick.png");
    background-size: 100%;
    background-color: #e6e2eb;
    background-position: center top;
}

.wrapper {
    min-height: 100vh;
    margin-bottom: -50px;
}

#navColor {
    background-color: #1e3663;
    /*height: 56px;*/
}

/* .animation {
    animation: typewriter 4s steps(charater count) 1s 1 normal both,
    blinkCursor 500ms steps(character count) infinite normal;
} */

/* .padNumber {
    line-height: 1.4; 
    padding: 2px 0;
} */

.padNumber span { 
    background-color: #f3f2f3;
    color: black; 
    display: inline-block;
    padding: 3px;
    border-style: ridge;
    border-color: #8c9fbc;
    border-width: 8px;
}

div#review {
    height: 15vh;
    overflow: auto;
    background-color: #e6e2eb;
    padding: 6px;
    border-style: ridge;
    border-width: 8px;
    border-color: #8c9fbc;
    margin-bottom: 10px;
}

.blog {
    margin-top: 0vh;
}

div#blog {
    height: 25vh;
    overflow: auto;
    background-color: #e6e2eb;
    padding: 6px;
    border-style: ridge;
    border-width: 8px;
    border-color: #8c9fbc;
    margin-bottom: 10px;
}

#addTextBorder {
    border-bottom-style: solid;
}

h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    padding: 6px;
    margin-top: 8px;
    font-size: 36px;
    color: black;
}

#massageHeading {
    padding: 13px;
}

.no-gutters {
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

h2 {
    text-align: center;
    margin-top: 6px;
    font-family: 'Oswald', sans-serif;
    color: #455772;
}

#searchSpace {
    padding-left: 25px;
    padding-right: 15px;
}

span a {
    color: black;
    text-decoration: none;
}

.phnumber {
    white-space: nowrap;
    color: black;
}

#email {
    display: inline-block;
    font-size: 16px;
}

.redBlink {
    color: #d65587;
}

#stressview, #logo, #massageInfo, #googleMap, #viewSpace {
    margin-top: 56px;
    /*margin-bottom: 0px;
    height: 420px;*/
}

#myServices, #myMassage, #myLocation, .return {
    cursor: pointer;
    /* to ensure animate.css works */
    display: inline-block;
}

#newStressed {
    cursor: pointer;
}

/*#myMassage, #myLocation, #stressed {
    text-decoration: underline;
}

#myServices {
    padding: 6px 10px 6px 10px;
    background-color: #1e3663;
    color: white;
}*/

.sectionLink {
    margin-left: 45px;
    margin-right: 45px;
}

.carousel-inner>.item>img {
    width: auto;
    height: auto;
    
    object-position: 50% 0%;
}

.myImage {
    border-style: ridge;
    border-color: #8c9fbc;
    border-width: 8px;
    margin-bottom: 10px;
}

.myImageStress {
    /*width: 100%;*/
    height: 90vh;
    border-style: ridge;
    border-width: 8px;
    border-color: #8c9fbc;
}

.carousel-caption {
    top: 100px;
}

#viewSpace, #massageInfo {
    overflow: auto;
    border-style: ridge;
    border-color: #8c9fbc;
    border-width: 8px;
    background-image: url("../img/stone-texture.jpg");
    background-size: 100%;
    background-position: center top;
}

#googleMap {
    width: 100%;
    height: 75vh;
    border-style: ridge;
    border-width: 8px;
    border-color: #8c9fbc;
}

h3, h4 {
    font-family: 'Oswald', sans-serif;
    color: black;
    text-align: center;
}

.topic, .return {
    padding: 0px 4px 6px 4px;
    display: inline-block;
    color: black;
    text-align: center;
}

.topicp {
    /*background-color: #1e3663;*/
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    font-size: 22px;
    color: black;
}

#lableText {
    /*background-color: #1e3663;*/
    font-family: 'Oswald', sans-serif;
    color: black;
    margin-top: 10px;
    font-size: 18px;
    padding: 4px;
}

#parkingMap {
    margin-top: 20px;
    margin-bottom: 20px;
}

#addComment {
    font-family: 'Oswald', sans-serif;
    color: black;
    margin-top: 10px;
    background-color: #dddddd;
}

p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: black;
    font-size: 24px;
    margin-top: 10px;    
}

.info {
    font-size: 18px;
}
li a[target] {
    padding-left: 3px;
    padding-right: 3px;
}

#appt {
    background-color: #8c9fbc;
    color: black;
}

button:focus {
    outline: none;
}

footer {
    font-family: 'Oswald', sans-serif;
    /*background-color: gainsboro;*/
    background-color: #8c9fbc;
    /*background-color: #1e3663;*/
    /* border-top: 4px solid #727272; */
    margin-bottom: 0px;
    padding: 12px;
}

.footer, .push {
    height: 50px;
}

/* increase footer height when screen under 458px 
@media only screen and (max-device-width: 458px) {
    .footer, .push {
        height: 65px;
    }
    .wrapper {
        margin-bottom: -65px;
    }
} */

@media only screen and (orientation: portrait) {
    #stressview, #logo, #massageInfo, #googleMap, #viewSpace {
        margin-top: 50px;
    }

    footer {
        background-color: #1e3663;
    }

    .phnumber {
        color: #9d9d9d;
    }

    .blog {
        margin-top: 0vh;
    }

    .myImageStress {
    width: 100%;
    height: auto;
    border-style: ridge;
    border-width: 8px;
    border-color: #8c9fbc;
    }
}

/* reduce font of email address for screens under 360px  */
@media only screen and (max-device-width: 370px) {
    #email {
        font-size: 20px;
    }

    #longlink {
        font-size: 20px;
    }

    .info {
        font-size: 14px;
    }

}

/* to decrease distance between pulsing links */
@media only screen and (max-device-width: 400px) {
    .sectionLink {
        margin-left: 5px;
        margin-right: 5px;
    }
}

/* to keep h3 titles in details page not overwriting for smaller screens */
@media only screen and (max-device-width: 530px) {
    h3 span {
        display: inline-block;
    }
}

