html, body {
    height: 100%;
    margin: 0;
}

body {
    box-sizing: border-box;
    
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
    /*background-image: url("../img/charcoalflannel.jpg");*/
    background-color: #e6e2eb;
    background-repeat: repeat;
    background-position: auto;
    background-size: cover;
}

#newBackground {
    margin-top: 57px;
    background-image: url("../img/downtownfromBL2.jpg");
    background-position: top;
    background-size: cover;
}

#navColor {
    background-color: #1e3663;
}

h1 {
    /* background-color: gainsboro;
    background-color: #8c9fbc; */
    font-family: 'Oswald', sans-serif;
    padding: 6px;
    margin-top: 8px;
    font-size: 24px;
    color: gainsboro;
}

#massageHeading {
    padding: 13px;
}

.no-gutters {
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

h2 {
    margin-top: 6px;
    font-family: 'Oswald', sans-serif;
    color: #455772;
    text-align: center;
}

span a {
    color: black;
    text-decoration: none;
}

.phnumber {
    white-space: nowrap;
    color: black;
}

#email {
    display: inline-block;
    font-size: 16px;
}

#stressview, #logo, #myCarousel, #massageInfo, #googleMap, #viewSpace {
    margin-top: 10px;
    margin-bottom: 16px;
    height: 420px;  Need to fix this!
}

#myServices, #myMassage, #myLocation, #stressed, h2, .return {
    cursor: pointer;
    /* to ensure animate.css works */
    display: inline-block;
}

#newStressed {
    cursor: pointer;
}

#myMassage, #myLocation, #stressed {
    text-decoration: underline;
}

/*#myServices {
    padding: 6px 10px 6px 10px;
    background-color: #1e3663;
    color: white;
}*/

.sectionLink {
    margin-left: 45px;
    margin-right: 45px;
}

.myImage {
    width: auto;
    max-height: 420px;
    border-style: ridge;
    border-width: 8px;
    border-color: #8c9fbc;
}

#viewSpace, #massageInfo {
    overflow: auto;
    border-style: ridge;
    border-color: #8c9fbc;
    border-width: 8px;
    /* background-color: #373536; */
    background-image: url("../img/vignette2blue.jpg");
    background-size: cover;
    background-position: bottom;
}

#googleMap {
    border-style: ridge;
    border-width: 8px;
    border-color: #8c9fbc;
}

h3, h4 {
    font-family: 'Oswald', sans-serif;
    color: gainsboro;
    text-align: center;
}

.topic, .return {
    background-color: #1e3663;
    padding: 0px 4px 4px 4px;
    text-align: center;
    display: inline-block;
}

.topicp {
    background-color: #1e3663;
    padding-left: 4px;
    padding-right: 4px;
    text-align: left;
    font-size: 22px;
}

#lableText {
    background-color: #1e3663;
    font-family: 'Oswald', sans-serif;
    color: gainsboro;
    margin-top: 10px;
    font-size: 18px;
    padding: 4px;
}

#parkingMap {
    margin-top: 20px;
    margin-bottom: 20px;
}

#addComment {
    font-family: 'Oswald', sans-serif;
    color: black;
    margin-top: 10px;
    background-color: #dddddd;
}

p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: gainsboro;
    font-size: 24px;
    margin-top: 10px;    
}

.info {
    font-size: 18px;
}

button#home, #appt {
    background-color: white;
    color: black;
    margin-right: 4px;
}

button:focus {
    outline: none;
}

footer {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    /*background-color: gainsboro;*/
    background-color: #8c9fbc;
    /* border-top: 4px solid #727272; */
    margin-bottom: 0px;
    padding: 12px;
}

.footer, .push {
    height: 50px;
}

/* increase footer height when screen under 458px 
@media only screen and (max-device-width: 458px) {
    .footer, .push {
        height: 65px;
    }
    .wrapper {
        margin-bottom: -65px;
    }
} */

/* reduce font of email address for screens under 360px  */
@media only screen and (max-device-width: 370px) {
    #email {
        font-size: 20px;
    }
    #longlink {
        font-size: 20px;
    }
    .info {
        font-size: 14px;
    }
}

/* to decrease distance between pulsing links */
@media only screen and (max-device-width: 400px) {
    .sectionLink {
        margin-left: 5px;
        margin-right: 5px;
    }
}

/* to keep h3 titles in details page not overwriting for smaller screens */
@media only screen and (max-device-width: 530px) {
    h3 span {
        display: inline-block;
    }
}

